*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EDF2F8;
}
.homeSection{
    background-color: #FFFFFF;
    width: 70%;
    border-radius: 35px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}